<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../view/style/element.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <h1 class="logoH">Whatsapp Song Game</h1>
    </header>
    <div class="component">
      <h2>Your name started with</h2>
      <p class="letter">B</p>
      <p class="message">
        here is the amazing song dedicated for your name😍😍
      </p>

      <audio
        controls=""
        controlslist="nofullscreen nodownload"
        autoplay=""
        style="width: 100%"
        __idm_id__="376348673"
      >
        <source src="https://lyricsgums.com/songs/foom.site/en/b.mp3" />
      </audio>
      <div class="share">
        <h1>😍 its NEW, SPREAD it to all your friends</h1>
        <div class="shareBtn">
          <a
        href="https://wa.me/256759417042?text= Hi! may i get the title of this song - https://derick1530.github.io/whatsappgamelink/components/a.html%0A%0AB please!!!!! "
        target="_blank"
      >
            <img
              src="../view/image/whatsapp.png"
              alt
              width="18px"
              height="18px"
            />
            <span>WHATSAPP</span>
          </a>
        </div>
      </div>
    </div>
    <p class="me">if you need the title of the song feel free to contact me</p>
    <div class="contactme">
      <a href="https://wa.me/256759417042?text= Hi! may i get the title of this song please !b" target="_blank">
        <span>Ask for the Title</span>
      </a>
    </div>

    <footer>
      <label>Made by <i class="fab fa-github"></i> </label
      ><a href="github.com/Derick">Derick</a>
      <p><i class="fa fa-globe" aria-hidden="true"></i> 2021</p>
    </footer>
  </body>
</html>
