* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(180, 180, 180);

}
header {
    
  display: flex;
  width: 100%;
  background-color: teal;
  color: white;
  height: 5rem;
}
.logoH {
  margin: 14px auto;
}
main {
  width: 90%;
  margin: 1rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 24px 0;
  box-shadow: 3px 1px 24px rgba(0, 0, 0, 0.3), -3px 1px 14px rgba(0, 0, 0, 0.3);
}
.element {
margin:2px;
border-radius: 24px 12px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  box-shadow: 2px 1px 1px rgba(7, 7, 7, 0.507);

}
section {
  cursor: pointer;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.element:hover {
  color: black;
}

/* .element{
    margin: 12px;
    background-color: saddlebrown;
    text-decoration: none;
    color: white;
} */
#a {
  background-color: red;
}
#b {
  background-color: coral;
}
#c {
  background-color: gold;
}
#d {
  background-color: crimson;
}
#e {
  background-color: tomato;
}
#f {
  background-color: green;
}
#g {
  background-color: cyan;
}
#h {
  background-color: darkgoldenrod;
}
#i {
  background-color: fuchsia;
}
#j {
  background-color: purple;
}
#k {
  background-color: palevioletred;
}
#l {
  background-color: violet;
}
#m {
  background-color: forestgreen;
}
#n {
    color: black;
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX7141781.jpg);
  background-color: floralwhite;
}
#o {
  background-color: blue;
}
#p {
  background-color: navy;
}
#q {
  background-color: navajowhite;
}
#r {
  background-color: mediumvioletred;
}
#s {
  background-color: moccasin;
}
#t {
  background-color: thistle;
}
#u {
  background-color: teal;
}
#v {
  background-color: tan;
}
#w {
  background-color: darkorange;
}
#x {
  background-color: deepskyblue;
}
#y {
  background-color: dimgray;
}
#z {
  background-color: darkslateblue;
}

footer {
    width: 100%;
    height: auto;
  background-color: teal;
  padding-bottom: 2rem;
  font-size: 15px;
  text-align: center;
  bottom: 0;
  color: rgb(236, 236, 236);
}
footer p {
  text-align-last: center;
}
footer a {
  text-decoration: none;
  color: gold;
}
